/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('aroma.jpeg'); 
    background-size: cover;  
    background-position: center center;  
    height: 100vh; 
    color: #6d5f5f;
}

header {
    background-color: #29295840;
    color: rgb(202, 133, 30);
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    margin: 0;
}
